<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}

<div class="row">
  <div class="form-group col-md-6">
    <label for="segundo">Unidad:</label>
    <select class="form-control" id="segundo" name="segundo">
      <option value="{{batallon.id}}">{{batallon.id}} - {{batallon.nombreB}}</option>
    </select>
    {% for error in formulario_armas.errors.segundo %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

    <div class="form-group col-md-6">
      <label for="categoria">Categoria:</label>
      <select class="form-control" name="categoria" id="categoria">
        <option value="{{formulario_armas.categoria.value|default_if_none:''}}"> Actual : {{formulario_armas.categoria.value|default_if_none:''}}</option>
        <option value="Blindado">Blindado</option>
        <option value="Artilleria">Artilleria</option>
        <option value="Portatiles">Portatiles</option>
        <option value="Armas Colectivas">Armas Colectiva</option>
        <option value="Armas Organica">Armas Organica</option>
        <option value="Otras">Otras</option>
      </select>
      {% for error in formulario_armas.errors.categoria %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

  <div class="form-group col-md-4">
    <label for="tipoA" class="form-label"> {{formulario_armas.tipoA.label}} </label>
    <input type="text" class="form-control" name="tipoA" id="tipoA"
      value="{{ formulario_armas.tipoA.value|default_if_none:'' }}" placeholder="Blindado, Artilleria, Otros" />
    {% for error in formulario_armas.errors.tipoA %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="form-group col-md-4">
    <label for="modeloA" class="form-label">{{formulario_armas.modeloA.label}}</label>
    <input type="text" class="form-control" name="modeloA" id="modeloA"
      value="{{ formulario_armas.modeloA.value|default_if_none:'' }}" placeholder="Arma, Blindado, Artilleria Otros" />
    {% for error in formulario_armas.errors.modeloA %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="form-group col-md-4">
    <label for="calibreA" class="form-label">{{formulario_armas.calibreA.label}}</label>
    <input type="text" class="form-control" name="calibreA" id="calibreA"
      value="{{ formulario_armas.calibreA.value|default_if_none:'' }}" placeholder="Arma, Blindado, Artilleria" />
    {% for error in formulario_armas.errors.calibreA %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="form-group col-md-12">
    <label for="serialA" class="form-label">{{formulario_armas.serialA.label}}</label>
    <textarea class="form-control" name="serialA" id="serialA" rows="5"
      placeholder="Coloque los seriales necesarios">{{formulario_armas.serialA.value|default_if_none:'' }}</textarea>
    {% for error in formulario_armas.errors.serialA %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="form-group col-md-4">
    <label for="serialAG" class="form-label">{{formulario_armas.serialAG.label}}</label>
    <input type="text" class="form-control" name="serialAG" id="serialAG"
      value="{{formulario_armas.serialAG.value|default_if_none:'' }}" placeholder=" Blindado, Artilleria , Otros" />
    {% for error in formulario_armas.errors.serialAG %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="form-group col-md-2">
    <label for="fechaAG" class="form-label">{{formulario_armas.fechaAG.label}}</label>
    <input type="date" class="form-control" name="fechaAG" id="fechaAG"
      value="{{formulario_armas.fechaAG.value|default_if_none:'' }}" placeholder="Fecha de Asignación" />
    {% for error in formulario_armas.errors.fechaAG %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="form-group col-md-2">
    <label for="opAM">{{formulario_armas.opAM.label}}</label>
    <select class="form-control" name="opAM" id="opAM">
      <option value="{{formulario_armas.opAM.value|default_if_none:''}}">SELECCION: {{formulario_armas.opAM.value|default_if_none:''}}</option>
      <option value="Operativa">Operativa</option>
      <option value="Inoperativa">Inoperativa</option>
      <option value="Inutilizada">Inutilizada</option>
      <option value="Reparacion">Reparacion</option>
    </select>
    {% for error in formulario_armas.errors.opAM %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

    <div class="form-group col-md-2">
      <label for="cantidadA" class="form-label">{{formulario_armas.cantidadA.label}}</label>
      <input type="number" class="form-control" name="cantidadA" id="cantidadA"
        value="{{formulario_armas.cantidadA.value|default_if_none:'' }}" placeholder="500" />
      {% for error in formulario_armas.errors.cantidadA %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-2">
      <label for="cantidadC" class="form-label">{{formulario_armas.cantidadC.label}}</label>
      <input type="number" class="form-control" name="cantidadC" id="cantidadC"
        value="{{formulario_armas.cantidadC.value|default_if_none:'' }}" placeholder="500" />
      {% for error in formulario_armas.errors.cantidadC %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="ac" class="form-label">{{formulario_armas.ac.label}}</label>
      <textarea class="form-control" name="ac" id="ac" cols="30" rows="5"
        placeholder="Coloque los Accesorios necesarios">{{formulario_armas.ac.value|default_if_none:''}}</textarea>
      {% for error in formulario_armas.errors.ac %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="armaS">Armas Segundaria</label>
      <select class="form-control" name="armaS" id="armaS">
        <option value="">-----Seleccionar-----</option>
        <option value="Si">Si</option>
        <option value="No">No</option>
      </select>
      {% for error in formulario_armas.errors.armaS %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
  </div>



  <div id="prueba1" style="display: none;">

    <div class="form-group">
      <label for="calibreS" class="form-label">Tipo,Modelo,Calibre</label>
      <textarea class="form-control" name="calibreS" id="calibreS" cols="30" rows="5"
        placeholder="Blindado, Artilleria, Otros">{{formulario_armas.calibreS.value|default_if_none:''}}</textarea>
      {% for error in formulario_armas.errors.calibreS %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      <label for="serialS" class="form-label">Serial de Arma Segundaria</label>
      <textarea class="form-control" name="serialS" id="serialS" cols="30" rows="5"
        placeholder="Blindado, Artilleria, Otros">{{formulario_armas.serialS.value|default_if_none:''}}</textarea>
      {% for error in formulario_armas.errors.serialS %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      <label for="cantidadS" class="form-label">Cantidad Segundaria</label>
      <input type="number" class="form-control" name="cantidadS" id="cantidadS" placeholder="500" />
      {% for error in formulario_armas.errors.cantidadS %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="cerrarBoton" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
    <input type="submit" class="btn btn-primary float-left" value="GUARDAR">
  </div>
</form>