<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listas de Personas con Armas</title>
</head>

<body>
  <h1>Listas 1</h1>
  <table>
    <thead>
      <tr>
        <th>N°</th>
        <th>CODIGO</th>
        <th>GRADO</th>
        <th>CATEGORIA</th>
        <th>NOMBRES Y APELLIDOS</th>
        <th>CEDULA</th>
        <th>AÑO</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.code}}</td>
        <td>{{person.grado}}</td>
        <td>{{person.categoria}}</td>
        <td>{{person.datos}}</td>
        <td>{{person.cedula}}</td>
        <td>{{person.anio}}</td>
      </tr>
    
    </tbody>
  </table>

  <h1>Listas 2</h1>
  <table>
    <thead>
      <tr>
        <th>N°</th>
        <th>CODIGO</th>
        <th>GRADO</th>
        <th>CATEGORIA</th>
        <th>NOMBRES Y APELLIDOS</th>
        <th>CEDULA</th>
        <th>AÑO</th>
      </tr>
    </thead>
    <tbody>
      {% for persona in armas %}
      <tr>
        <td>{{persona.armas}} </td>
        <td>{{persona.modelo}} </td>
        <td>{{persona.serial}} </td>
        <td>{{persona.serialag}} </td>
        <td>{{persona.fechag}} </td>
        <td>{{persona.cargadores}} </td>
        <td>{{persona.municiones}} </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</body>

</html>