<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listas de Personas con Armas</title>
</head>

<body>
  <h1>Listas 1</h1>
  <table>
    <thead>
      <tr>
        <th>N°</th>
        <th>CODIGO</th>
        <th>GRADO</th>
        <th>CATEGORIA</th>
        <th>NOMBRES Y APELLIDOS</th>
        <th>CEDULA</th>
        <th>AÑO</th>
      </tr>
    </thead>
    <tbody>
     {% for tabla in unidad %}
        <tr>
          <td>{{tabla.nombreB}}</td>
          <td>{{tabla.comandante}}</td>
        </tr>
     {% endfor %}
     
    
   
    </tbody>
  </table>

  <h1>Listas 2</h1>
  <table>
    <thead>
      <tr>
        <th>N°</th>
        <th>FECHA</th>
        <th>TIPO DE MUNICIÓN</th>
        <th>SERIAL ASIGNACIÓN</th>
        <th>FECHA DE ASIGNACIÓN</th>
        <th>CANTIDAD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{municiones.fecha}}</td>
        <td>{{municiones.tipoM}}</td>
        <td>{{municiones.lote}}</td>
        <td>{{municiones.serialA}}</td>
        <td>{{municiones.fechaAG}}</td>
        <td>{{municiones.cantidadM}}</td>
      </tr>

    </tbody>
  </table>
</body>

</html>