{% extends 'base.html' %}

{% block titulo %} Principal {% endblock %}

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Control Datos Digitalizados</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Información</a></li>
          <li class="breadcrumb-item">Digital Escaneo por Brigadas y Unidades</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block contenido %}
<div class="card card-dark card-outline">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3 class="card-title m-0"></h3>
      {% if perms.seajb.add_digital %} 
      <a href="#" class="btn btn-success float-left" data-toggle="modal" data-target="#modalDigital"><i class="fas fa-plus-square"></i> Nuevo</a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="example1" class="table table-bordered table-striped  table-hover-blue">
        <thead class="table-dark">
          <tr>
            <th>N°</th>
            <th>ENTRADA</th>
            <th>NOMBRE DE BRIGADA</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>

        {% for dital in digitales  %}
          <tr>
            <td scope="row">{{dital.id}}</td>
            <td>{{dital.fecha_entrada}}</td>
            <td>{{dital.nombre}}</td>
            <td>
            {% if perms.seajb.view_digital %}
            <a href="{% url 'infodig' dital.id %}" class="btn btn-success"><i class="nav-icon fas fa-eye"></i></a> |
            {% endif %}
            {% if perms.seajb.change_digital %}
            <a href="#" class="btn btn-info"><i class="fas fa-solid fa-marker"></i></a> |
            {% endif %}
            {% if perms.seajb.delete_digital %}
            <a href="#" class="btn btn-danger"><i class="fas fa-solid fa-trash"></i></a>
            {% endif %}
            </td>
          </tr>
           {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDigital" tabindex="-1" aria-labelledby="modalTituloDigital" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" id="modalTituloDigital">Formulario Digital</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'digital/digital_formulario.html' %}
      </div>
    </div>
  </div>
</div>


{% endblock%}