<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="form-group col-md-12">
      <label for="digital">Brigada A Digitalizar</label>
      <select class="form-control" id="digital" name="digital">
      {% for digital in digital %}
        <option value="{{digital.id}}">{{digital.id}} - {{digital.nombre}} </option>
      {% endfor %}
      
      </select>
      {% for error in formulario.errors.digital %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
  
    <div class="form-group col-md-12">
      <label for="nombreU" class="form-label">{{formulario.nombreU.label}} </label>
      <input type="text" class="form-control" name="nombreU" id="nombreU" value="{{ formularios.nombreU.value|default_if_none:'' }}" placeholder="Nombre">
      {% for error in formulario.errors.nombreU %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="descripcion" class="form-label">{{formulario.descripcion.label}} </label>
      <textarea class="form-control" name="descripcion" id="descripcion" rows="3"
        placeholder="Describe el Material">{{ formularios.descripcion.value|default_if_none:'' }}</textarea>
      {% for error in formulario.errors.descripcion %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="img" class="form-label">{{formulario.img.label}} </label>
      <input type="file" name="img" id="img">
      {% for error in formulario.errors.img %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

      <img src="{{digitales.img.url}}" alt="Imagen actual" width="100px" height="100px">
  
    
  </div>
  <div class="modal-footer">
    <button type="button" id="cerrarBoton" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <input type="submit" class="btn btn-primary float-left" value="Registrar">
  </div>

</form>