{% extends "base.html" %}

{% block titulo %} Principal {% endblock %}

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Personal</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Lista</a></li>
          <li class="breadcrumb-item active">Pdf</li>
          <li class="breadcrumb-item active">Personas</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block contenido %}
<div class="card card-primary card-outline">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3 class="card-title m-0">
      <a href="{% url 'pdf' %}" class="btn btn-danger float-left btn-xs"><i class="fas fa-solid fa-file-pdf"></i> Lista de la Tabla</a>
      </h3>
      <a href="#" class="btn btn-success float-left btn-xs" data-toggle="modal" data-target="#exampleModal">AgregarPersona</a>
    </div>
  </div>
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Codigo</th>
          <th>Grado</th>
          <th>Nombres y Apellidos</th>
          <th>Cedula</th>
          <th>Año</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for datos in personas %}
        <tr>
          <td>{{datos.fecha|date:"d/m/Y"}}</td>
          <td>{{datos.code}}</td>
          <td>{{datos.grado}}</td>
          <td>{{datos.datos}} </td>
          <td>{{datos.cedula}} </td>
          <td>{{datos.anio}} </td>
          <td>
            <a href="{% url 'informacion' datos.id %}" class="btn btn-success btn-xs"><i class="fas fa-solid fa-eye"></i></a>
            <a href="{% url 'personas_editar'  datos.id %}" class="btn btn-info btn-xs"><i class="fas fa-solid fa-marker"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include "personas/persona_formulario.html" %}
      </div>
    </div>
  </div>
  {% endblock %}

