{% extends "base.html" %}


{% block titulo %} Resumen de la Unidad {% endblock %}


{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Información</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'personas' %}">Lista</a></li>
          <li class="breadcrumb-item active">Información</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block contenido %}
<div class="row justify-content-center">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3 class="card-title m-0">
          <a href="{% url 'pdf_dos' person.id %}" class="btn btn-danger"><i class="fas fa-file-pdf"></i></a>
        </h3>
        <a href="#" type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modalNuevo"><i class="fas fa-plus-square"></i></a>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>CREACIÓN</th>
            <th>CODIGO</th>
            <th>GRADO</th>
            <th>CATEGORIA</th>
            <th>PROMOCIÓN</th>
            <th>AÑO</th>
          </tr>
        </thead>
        <tbody>
         
          <tr>
            <td>{{person.fecha|date:"d/m/Y"}}</td>
            <td>{{person.code}}</td>
            <td>{{person.grado}} </td>
            <td>{{person.categoria}} </td>
            <td>{{person.promocion}} </td>
            <td>{{person.anio}} </td>
          </tr>
        
        </tbody>
        <thead>
          <tr>
            <th>NOMBRES Y APELLIDOS</th>
            <th>CEDULA</th>
            <th>CORREO</th>
            <th>TELEFONO</th>
            <th>DIRECCIÓN</th>
            <th>UNIDAD</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>{{person.datos}}</td>
            <td>{{person.cedula}}</td>
            <td>{{person.correo}}</td>
            <td>{{person.telefono}}</td>
            <td>{{person.direccion}}</td>
            <td>{{person.unidad}}</td>
          </tr>
        
        </tbody>
        <thead>
          <tr>
            <th>TIPO DE ARMA</th>
            <th>SERIAL DEL ARMA</th>
            <th>SERIAL DE ASIGNACIÓN</th>
            <th>FECHA DE ASIGNACIÓN</th>
            <th>CARGADORES</th>
            <th>CARGA BASICA</th>
          </tr>
        </thead>
        <tbody>
         
          <tr>
            <td>{{person.armaA}}</td>
            <td>{{person.serialA}}</td>
            <td>{{person.serialAG}}</td>
            <td>{{person.fechaAG}}</td>
            <td>{{person.cargadores}}</td>
            <td>{{person.municiones}}</td>
          </tr>
         
        </tbody>
      </table>

     <!-- la tabla de armas asignadas -->
      <div class=" card-body table-responsive"> 
      <table id="example1" class="table table-striped">
        <thead>
          <tr>
            <th>ARMA</th>
            <th>MODELO</th>
            <th>SERIAL</th>
            <th>SERIAL ASIGNACIÓN</th>
            <th>FECHA DE ASIGNACIÓN</th>
            <th>CARGADORES</th>
            <th>CARGA BASICA</th>
          </tr>
        </thead>
        <tbody> 
        {% for persona in armas %}
          <tr> 
            <td>{{persona.armas}}  </td>
            <td>{{persona.modelo}}  </td>
            <td>{{persona.serial}}  </td>
            <td>{{persona.serialag}}  </td>
            <td>{{persona.fechag}}  </td>
            <td>{{persona.cargadores}}  </td>
            <td>{{persona.municiones}}  </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="modalNuevoTitulo" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary ">
          <h5 class="modal-title" id="modalNuevoTitulo">Agregar Nueva Armas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% include "personas/persona_f_nuevo.html" %}
        </div>
      </div>
    </div>
{% endblock %}