{% extends "base.html" %}

{% block titulo %} Principal {% endblock %} 

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Personal</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Brigadas</a></li>
          <li class="breadcrumb-item active">Unidades</li>
          <li class="breadcrumb-item active">Personas</li>
          <li class="breadcrumb-item active">Armamento</li>
          <li class="breadcrumb-item active">Municiones</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block contenido %}
<div class="card card-primary w-100">
   <div class="card-header border-0">
      <div class="d-flex justify-content-between">
        <h3 class="card-title"></h3>
        <a href="#" class="btn btn-success float-left btn-xs" data-toggle="modal" data-target="#exampleModal">Agregar Persona</a>
      </div>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Codigo</th>
                    <th>Grado</th>
                    <th>Nombres y Apellidos</th>
                    <th>Cedula</th>
                    <th>Promoción</th>
                    <th>Año</th>
                    <th>Arma</th>
                    <th>Serial</th>
                    <th>Acciones</th>
                  </tr>
            </thead>
            <tbody>
              {% for datos in personas %}
                <tr>
                    <td>{{datos.fecha|date:"d/m/Y"}}</td>
                    <td>{{datos.code}}</td>
                    <td>{{datos.grado}}</td>
                    <td>{{datos.datos}} </td>
                    <td>{{datos.cedula}} </td>
                    <td>{{datos.promocion}} </td>
                    <td>{{datos.ano}} </td>
                    <td>{{datos.armaA}} </td>
                    <td>{{datos.serialA}} </td>
                    <td>
                      <a href="{% url 'informacion' datos.id %}" class="btn btn-success btn-xs"><i class="fas fa-solid fa-eye"></i></a>
                      <a href="{% url 'personas_editar'  datos.id %}" class="btn btn-info btn-xs"><i class="fas fa-solid fa-marker"></i></a>
                      <a href="{% url 'pdf'    datos.id %}" class="btn btn-danger btn-xs"><i class="fas fa-solid fa-file-pdf"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include "personas/persona_formulario.html" %}
      </div>
    </div>
  </div>
{% endblock %}