<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}

  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="categoria">Categoria</label>
      <select class="form-control" name="categoria" id="categoria" aria-label="Seleccionar Categoria">
        <option value="{{ formulario.categoria.value|default_if_none:'' }}">Selección Actual : {{ formulario.categoria.value|default_if_none:'' }}</option>
        <option value="Comando">Oficial de Comando</option>
        <option value="Tecnico">Oficial Tecnico</option>
        <option value="Tropa">Oficial de Tropa</option>
        <option value="Asimilado">Oficial Asimilado</option>
        <option value="Tropa Profesional">Tropa Profesional</option>
        <option value="Funcionario">Funcionario</option>
        <option value="Escolta">Escolta</option>
        <option value="Caso Especial">Caso Especial</option>
      </select>
      {% for error in formulario.errors.categoria %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="grado">Grado</label>
      <select class="form-control" name="grado" id="grado" aria-label="Seleccionar Grado">
        <option value="{{ formulario.grado.value|default_if_none:'' }}">Selección Actual : {{ formulario.grado.value|default_if_none:'' }}</option>
        <optgroup label="Oficiales">
          <option value="GJ">General en Jefe</option>
          <option value="MG">Mayor General</option>
          <option value="GD">General de División</option>
          <option value="GB">General de Brigada</option>
          <option value="Cnel.">Coronel</option>
          <option value="Tcnel.">Teniente Coronel</option>
          <option value="May.">Mayor</option>
          <option value="Cap.">Capitán</option>
          <option value="Pte.">Primer Teniente</option>
          <option value="Tte.">Teniente</option>
        </optgroup>
    
        <optgroup label="Tropa">
          <option value="SS">Sargento Supervisor</option>
          <option value="SA">Sargento Ayudante</option>
          <option value="SM1">Sargento Mayor de Primera</option>
          <option value="SM2">Sargento Mayor de Segunda</option>
          <option value="SM3">Sargento Mayor de Tercera</option>
          <option value="S1">Sargento Primero</option>
          <option value="S2">Sargento Segundo</option>
        </optgroup>
    
        <option value="CIVIL">Civil</option>
      </select>
      {% for error in formulario.errors.grado %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="promocion" class="form-label">{{formulario.promocion.label}}</label>
      <input type="text" class="form-control" name="promocion" id="promocion"
        value="{{ formulario.promocion.value|default_if_none:'' }}" placeholder="Promoción">
      {% for error in formulario.errors.promocion %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="anio" class="form-label">{{formulario.anio.label}}</label>
      <input type="text" class="form-control" name="anio" id="anio"
        value="{{ formulario.anio.value|default_if_none:'' }}" placeholder="Año">
      {% for error in formulario.errors.anio %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="unidad" class="form-label">{{formulario.unidad.label}}</label>
      <input type="text" class="form-control" name="unidad" id="unidad"
        value="{{ formulario.unidad.value|default_if_none:'' }}" placeholder="Unidad">
      {% for error in formulario.errors.unidad %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="datos" class="form-label">{{formulario.datos.label}} </label>
      <input type="text" class="form-control" name="datos" id="datos"
        value="{{ formulario.datos.value|default_if_none:'' }}" placeholder="Nombres y Apellidos">
      {% for error in formulario.errors.datos %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-4">
      <label for="cedula" class="form-label">{{formulario.cedula.label}}</label>
      <input type="text" class="form-control" name="cedula" id="cedula"
        value="{{ formulario.cedula.value|default_if_none:'' }}" placeholder="Cedula">
      {% for error in formulario.errors.cedula %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-8">
      <label for="armaA" class="form-label">{{formulario.armaA.label}}</label>
      <input type="text" class="form-control" name="armaA" id="armaA"
        value="{{ formulario.armaA.value|default_if_none:'' }}" placeholder="Arma">
      {% for error in formulario.errors.armaA %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="serialA" class="form-label">{{formulario.serialA.label}}</label>
      <input type="text" class="form-control" name="serialA" id="serialA"
        value="{{ formulario.serialA.value|default_if_none:'' }}" placeholder="Serial del Arma">
      {% for error in formulario.errors.serialA %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="serialAG" class="form-label">{{formulario.serialAG.label}}</label>
      <input type="text" class="form-control" name="serialAG" id="serialAG"
        value="{{ formulario.serialAG.value|default_if_none:'' }}" placeholder="Serial de Asignación">
      {% for error in formulario.errors.serialAG %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="cargadores" class="form-label">{{formulario.cargadores.label}}</label>
      <input type="text" class="form-control" name="cargadores" id="cargadores"
        value="{{ formulario.cargadores.value|default_if_none:'' }}" placeholder="500">
      {% for error in formulario.errors.cargadores %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="municiones" class="form-label">{{formulario.municiones.label}}</label>
      <input type="text" class="form-control" name="municiones" id="municiones"
        value="{{ formulario.municiones.value|default_if_none:'' }}" placeholder="500">
      {% for error in formulario.errors.municiones %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="fechaAG" class="form-label">Fecha de Asignación</label>
      <input type="date" class="form-control" name="fechaAG" id="fechaAG"
        value="{{ formulario.fechaAG.value|default_if_none:'' }}" placeholder="Fecha de Asignación">
      {% for error in formulario.errors.fechaAG %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="telefono" class="form-label">{{formulario.telefono.label}}</label>
      <input type="text" class="form-control" name="telefono" id="telefono"
        value="{{ formulario.telefono.value|default_if_none:'' }}" placeholder="Telefono">
      {% for error in formulario.errors.telefono %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="correo" class="form-label">{{formulario.correo.label}}</label>
      <input type="mail" class="form-control" name="correo" id="correo"
        value="{{ formulario.correo.value|default_if_none:'' }}" placeholder="Correo Electronico">
      {% for error in formulario.errors.correo %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-6">
      <label for="direccion" class="form-label">{{formulario.direccion.label}}</label>
      <textarea class="form-control" name="direccion" id="direccion" cols="30" rows="5">
      {{ formulario.direccion.value|default_if_none:'' }}
      </textarea>
      {% for error in formulario.errors.direccion %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group col-md-12">
      <label for="img" class="form-label">{{formulario.img.label}} </label>
      <input type="file" name="img" id="img">
      {% for error in formulario.errors.img %}
      <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <input type="submit" class="btn btn-primary float-left" value="GUARDAR">
  </div>
</form>