{% extends 'base.html' %}

{% block titulo %} Inventario {% endblock %}


{% block css %}
 <style>
 .fs-1{
 font-size: 1.6em; /* Ajusta el tamaño según sea necesario */
}
 </style>
{% endblock %}
  

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Control del Inventario</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inventario</a></li>
          <li class="breadcrumb-item">Producto</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block contenido %}

<div class="card card-primary card-outline">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3 class="card-title m-0"><a href="{% url 'envio' %}" class="btn btn-warning"><i class="fas fa-hand-holding-usd"></i></a></h3>
      <a href="#" class="btn btn-success float-letf" data-toggle="modal" data-target="#modalInventario"><i class="fas fa-plus-square"></i></a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="example1" class="table table-bordered table-striped table-hover">
        <thead class="table-light">
          <tr>
            <th>N°</th>
            <th>FECHA</th>
            <th>SERIAL</th>
            <th>PRODUCTO</th>
            <th>MODELO</th>
            <th>DESCRIPCIÓN</th>
            <th>CANTIDAD</th>
            <th>PRECIO</th>
            <th>TOTAL</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
        {% for inventario in inventario %}
          <tr>
            <td>{{inventario.id}}</td>
            <td>{{inventario.fecha_entrada|date:'dmY'}}</td>
            <td>{{inventario.serial}}</td>
            <td>{{inventario.nombre}}</td>
            <td>{{inventario.modelo}}</td>
            <td>{{inventario.descripcion}}</td>
            <td>{{inventario.cantidad}}</td>
            <td>{{inventario.precio}}</td>
            <td>{{inventario.total}}</td>
            <td>
              <a href="" class="btn btn-danger btn-xs"><i class="fas fa-file-pdf fs-1"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modalInventario" tabindex="-1" aria-labelledby="modalTituloInventario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary modal-outline ">
        <h5 class="modal-title m-0" id="modalTituloInventario">Registrar el Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'inventario/inventario_formulario.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}