<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    
      <div class="form-group">
        <label for="tercero">Unidad</label>
        <select class="form-control" id="tercero" name="tercero">
          <option value="{{batallon.id}}">{{batallon.id}} - {{batallon.nombreB}} </option>
        </select>
        {% for error in formulario_municion.errors.tercero %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>

        <div class="form-group">
            <label for="tipoM" class="form-label">{{formulario_municion.tipoM.label}} </label>
            <input type="text" class="form-control" name="tipoM" id="tipoM" value="{{ formulario_municion.tipoM.value|default_if_none:'' }}" placeholder="Munición, Explosivos, otros ">
            {% for error in formulario_municion.errors.tipoM %}
          <span class="error">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="form-group">
            <label for="lote" class="form-label">{{formulario_municion.lote.label}}</label>
            <input type="text" class="form-control" name="lote" id="lote" value="{{ formulario_municion.lote.value|default_if_none:'' }}"  placeholder="Lote N°">
            {% for error in formulario_municion.errors.lote %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </div>

        <div class="form-group">
          <label for="serialAG" class="form-label">{{formulario_municion.serialAG.label}}</label>
          <input type="text" class="form-control" name="serialAG" id="serialAG" value="{{ formulario_municion.serialAG.value|default_if_none:'' }}" placeholder="Serial de Asignación">
          {% for error in formulario_municion.errors.serialAG %}
          <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Date -->
        <div class="form-group">
          <label for="fechaAG">Date:</label>
          <div class="input-group date" id="reservationdate" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" name="fechaAG" id="fechaAG"
              data-target="#reservationdate"  value=" {{formulario_municion.fechaAG.value}}" />
             

            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          {% for error in formulario_municion.errors.fechaAG %}
          <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="cantidadM" class="form-label">Cantidad</label>
          <input type="number" class="form-control" name="cantidadM" id="cantidadM" value="{{formulario_municion.cantidadM.value|default_if_none:'' }}" placeholder="500">
          {% for error in formulario_municion.errors.cantidadM %}
          <span class="error">{{ error }}</span>
          {% endfor %}
        </div>
    
        <div class="modal-footer">
          <button type="button" id="cerrarBoton" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <input type="submit" class="btn btn-primary float-left" value="Registrar">
        </div>
    </form>