<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    
      <div class="form-group">
        <label for="tercero">Unidad</label>
        <select class="form-control" id="tercero" name="tercero" value="{{ formularios.tercero.value|default_if_none:'' }}">
          <option value="0">-----Seleccione-----</option>
          {% for datos in unidad %}
          <option value="{{datos.id}}">{{datos.id}} - {{datos.nombreB}} </option>
          {% endfor %}
        </select>
        {% for error in form.errors.tercero %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>

        <div class="form-group">
            <label for="tipoM" class="form-label">{{form.tipoM.label}} </label>
            <input type="text" class="form-control" name="tipoM" id="tipoM" value="{{ form.tipoM.value|default_if_none:'' }}" placeholder="Munición">
            {% for error in form.errors.tipoM %}
          <span class="error">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="form-group">
            <label for="lote" class="form-label">Lote N°</label>
            <input type="text" class="form-control" name="lote" id="lote" value="{{ formularios.lote.value|default_if_none:'' }}"  placeholder="Lote N°">
            {% for error in form.errors.lote %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </div>

        <div class="form-group">
          <label for="serialAG" class="form-label">Serial de Asignación</label>
          <input type="text" class="form-control" name="serialAG" id="serialAG" value="{{ formularios.serialAG.value|default_if_none:'' }}" placeholder="Serial de Asignación">
          {% for error in form.errors.serialAG %}
          <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="fechaAG" class="form-label">Fecha de Asignación</label>
          <input type="date" class="form-control" name="fechaAG" id="fechaAG" value="{{ formularios.fechaAG.value|default_if_none:'' }}" placeholder="cantidad">
          {% for error in form.errors.fechaAG %}
          <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group">
          <label for="cantidadM" class="form-label">Cantidad</label>
          <input type="text" class="form-control" name="cantidadM" id="cantidadM" value="{{ formularios.cantidadM.value|default_if_none:'' }}" placeholder="500">
          {% for error in form.errors.cantidadM %}
          <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

    
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <input type="submit" class="btn btn-primary float-left" value="Registrar">
        </div>
    </form>