<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    <div class="row">
      <div class="form-group col-md-12">
        <label for="cuarto">Punto de Abastecimiento</label>
        <select class="form-control" id="cuarto" name="cuarto" value="{{ formulario.cuarto.value|default_if_none:'' }}">
          {% for datos in abas %}
          <option value="{{datos.id}}">{{datos.id}} - {{datos.nombreAbas}} </option>
          {% endfor %}
        </select>
        {% for error in formulario.errors.cuarto %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>

        <div class="form-group col-md-12">
            <label for="nombre" class="form-label">{{formulario.nombre.label}} </label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="{{ formulario.nombre.value|default_if_none:'' }}" placeholder="Nombre">
            {% for error in formulario.errors.nombre %}
            <span class="error">{{ error }}</span>
           {% endfor %}
          </div>

          <div class="form-group col-md-12">
            <label for="cantidad" class="form-label">{{formulario.cantidad.label}}</label>
            <input type="number" class="form-control" name="cantidad" id="cantidad" value="{{ formulario.cantidad.value|default_if_none:'' }}">
            {% for error in formulario.errors.cantidad %}
            <span class="error">{{ error }}</span>
          {% endfor %}
          </div>

    <div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary float-left" value="Guardar">
          <button type="button"  class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
</form>



{% block js %}
<script>
  $("#cerrarBoton").click(function() {
    history.back();
  });
</script>

{% endblock %}