{% extends "base.html" %}

{% block titulo %} Cemantar {% endblock %}

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Control</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Centros</a></li>
          <li class="breadcrumb-item active">Cemantar</li>
          <li class="breadcrumb-item active">Cemanblin</li>
          <li class="breadcrumb-item active">Cemansac</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block contenido %}
<div class="card card-dark card-outline">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h3 class="card-title m-0"></h3>
      <a href="#" class="btn btn-success float-left" data-toggle="modal" data-target="#modalCemantar"><i
          class="fas fa-plus-square"></i> Nuevo</a>
    </div>
  </div>

  <div class="card-body table-responsive">
    <table id="example1" class="table table-bordered table-striped  table-hover-blue">
      <thead class="table-dark">
        <tr>
          <th class="text-center">N° ORDEN</th>
          <th class="text-center">CODE</th>
          <th class="text-center">UNIDAD</th>
          <th class="text-center">EQUIPO</th>
          <th class="text-center">F-RECEPCIÓN</th>
          <th class="text-center">F-ENTREGA</th>
          <th class="text-center">CONDICIÓN</th>
          <th class="text-center">SERIALES</th>
          <th class="text-center">DESCRIPCIÓN</th>
          <th class="text-center">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for cemantar in cemantar %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{cemantar.code}}</td>
          <td>{{cemantar.unidad}}</td>
          <td>{{cemantar.equipo}}</td>
          <td>{{cemantar.fechaR|date:"d/m/Y"}}</td>
          <td>{{cemantar.fechaE|date:"d/m/Y"}}</td>
          <td>{{cemantar.reparado}}</td>
          <td>{{cemantar.seriales}}</td>
          <td>{{cemantar.descripcion}}</td>
          <td>
            <a href="#" class="btn btn-info btn-sm"><i class="fas fa-solid fa-marker"></i></a> |
            <a href="#" class="btn btn-dark btn-sm"><i class="fas fa-file-pdf"></i></a> |
            <a href="#" class="btn btn-danger btn-sm" data-id="#"><i class="fas fa-solid fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="modal fade" id="modalCemantar" tabindex="-1" aria-labelledby="modalTituloCemantar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark ">
        <h5 class="modal-title" id="modalTituloCemantar">FORMULARIO DE CEMANTAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'centros/cemantar_f.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block js %}
<script>
  $(document).ready(function () {
    $(".btn-danger").click(function () {
      let id = $(this).data('id');
      Swal.fire({
        title: '¿Estás seguro?',
        text: "Si usted acepta ¡No podrás revertir esto! Eliminaras todos los registro de Cemantar",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, bórralo!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/eliminar/' + id,
            method: 'GET',
            success: function (response) {
              if (response.status === 'success') {
                Swal.fire('¡Registro eliminado!', '', 'success');
              } else {
                location.reload();
              }
            }
          });
        }
      });
    });
  });
</script>


{% endblock %}