{% extends "base.html" %}

{% block titulo %} Principal {% endblock %} 

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Control</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Tabla</a></li>
          <li class="breadcrumb-item active">Brigadas</li>
          <li class="breadcrumb-item active">Unidades</li>
          <li class="breadcrumb-item active">Armamento</li>
          <li class="breadcrumb-item active">Municiones</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block contenido %}
<div class="card card-primary w-100">
   <div class="card-header border-0">
      <div class="d-flex justify-content-between">
        <h3 class="card-title"></h3>
        <a href="#" class="btn btn-success float-left btn-xs" data-toggle="modal" data-target="#modalBrigada">Agregar Brigada</a>
      </div>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Fecha</th>
                    <th>Serial</th>
                    <th>Brigada</th>
                    <th>Comandante</th>
                    <th>acciones</th>
                  </tr>
            </thead>
            <tbody>
              {% for tabla in servicios  %}
                <tr>
                    <td>{{tabla.id}}</td>
                    <td>{{tabla.fecha|date:"d/m/Y"}}</td>
                    <td>{{tabla.code}}</td>
                    <td>{{tabla.nombreB}}</td>
                    <td>{{tabla.comandante}}</td>
                    <td>
                      <a href="{% url 'resumen' tabla.id %}"   class="btn btn-success btn-xs"><i class="nav-icon fas fa-eye"></i></a> | 
                      <a href="{% url 'editar' tabla.id %}" class="btn btn-info btn-xs"><i class="fas fa-solid fa-marker"></i></a> | 
                      <a href="#"  class="btn btn-danger btn-xs" data-id="{{ tabla.id }}" ><i class="fas fa-solid fa-trash"></i></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modalBrigada" tabindex="-1" aria-labelledby="modalTituloBrigada" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" id="modalTituloBrigada">Formulario de la Brigada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'servicio/form.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block js %}

<script>
  $(document).on('click', '.btn-editar', function() {
    var id = $(this).data('id');
  
    $.ajax({
      url: '/editar/' + id,
      method: 'GET',
      success: function(response) {
        $('#editar-form-container').html(response);
        $('#editar-modal').modal('show');
      }
    });
  });
</script>

<script>
  $(document).ready(function() {
    $(".btn-danger").click(function() {
      let id = $(this).data('id');
      Swal.fire({
        title: '¿Estás seguro?',
        text: "Si usted acepta ¡No podrás revertir esto! Eliminaras todos los registro de la Brigada, Unidades y Armas",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, bórralo!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/eliminar/' + id,
            method: 'GET',
            success: function(response) {
              if (response.status === 'success') {
                Swal.fire('¡Registro eliminado!', '', 'success');
              } else {
                location.reload();
              }
            }
          });
        }
      });
    });
  });
</script>


{% endblock %}

