{% extends "base.html" %}

{% block titulo %} BRIGADAS, UNIDADES{% endblock %} 


{% block css %}

<style>
.table-hover-blue thead th:hover {
    background-color: #007bff; /* Color azul de Bootstrap */
}

</style>
  
{% endblock%}
  

{% block seccion %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5 class="m-0">Panel de Control</h5>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Tabla</a></li>
          <li class="breadcrumb-item active">Brigadas</li>
          <li class="breadcrumb-item active">Unidades</li>
          <li class="breadcrumb-item active">Armamento</li>
          <li class="breadcrumb-item active">Municiones</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block contenido %}
<div class="card card-dark card-outline">
   <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3 class="card-title m-0"></h3>
        <a href="#" class="btn btn-success float-left" data-toggle="modal" data-target="#modalBrigada"><i class="fas fa-plus-square"></i></a>
      </div>
    </div>

    <div class="card-body table-responsive">
        <table id="example1" class="table table-bordered table-striped  table-hover-blue">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">N°</th>
                    <th class="text-center">FECHA</th>
                    <th class="text-center">SERIAL</th>
                    <th class="text-center">BRIGADAS</th>
                    <th class="text-center">COMANDANTES</th>
                    <th class="text-center">TELEFONOS</th>
                    <th class="text-center">CORREO</th>
                    <th class="text-center">UBICACIÓN</th>
                    <th class="text-center">ACCIONES</th>
                  </tr>
            </thead>
            <tbody>
              {% for tabla in servicios  %}
                <tr>
                    <td>{{tabla.id}}</td>
                    <td>{{tabla.fecha|date:"d/m/Y"}}</td>
                    <td>{{tabla.code}}</td>
                    <td>{{tabla.nombreB}}</td>
                    <td>{{tabla.comandante}}</td>
                    <td>{{tabla.telefono}}</td>
                    <td>{{tabla.correo}}</td>
                    <td>{{tabla.ubicacionB}}</td>
                    <td>
                      <a href="{% url 'resumen' tabla.id %}"   class="btn btn-success btn-sm"><i class="nav-icon fas fa-eye"></i></a> | 
                      <a href="{% url 'editar' tabla.id %}" class="btn btn-info btn-sm"><i class="fas fa-solid fa-marker"></i></a> | 
                      <a href="#"  class="btn btn-danger btn-sm" data-id="{{ tabla.id }}" ><i class="fas fa-solid fa-trash"></i></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modalBrigada" tabindex="-1" aria-labelledby="modalTituloBrigada" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title" id="modalTituloBrigada">Formulario de la Brigada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'servicio/form.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block js %}
<script>
  $(document).ready(function() {
    $(".btn-danger").click(function() {
      let id = $(this).data('id');
      Swal.fire({
        title: '¿Estás seguro?',
        text: "Si usted acepta ¡No podrás revertir esto! Eliminaras todos los registro de la Brigada, Unidades y Armas",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, bórralo!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/eliminar/' + id,
            method: 'GET',
            success: function(response) {
              if (response.status === 'success') {
                Swal.fire('¡Registro eliminado!', '', 'success');
              } else {
                location.reload();
              }
            }
          });
        }
      });
    });
  });
</script>


{% endblock %}

