{% extends "base.html" %}


{% block titulo %} Principal {% endblock %} 


{% block seccion %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5 class="m-0">Panel de Brigadas</h5>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'servicio' %}">Lista</a></li>
            <li class="breadcrumb-item active">Brigada</li>
            <li class="breadcrumb-item active">Unidades</li>
            <li class="breadcrumb-item active">Armamento</li>
            <li class="breadcrumb-item active">Municiones</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}


{% block contenido %}
<div class="card card-primary card-outline">
   <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3 class="card-title m-0"><a href="#" class="btn btn-danger"><i class="fas fa-file-pdf"></i></a></h3>
        <p>{{primero.nombreB}} - {{primero.code}}</p>
        <a href="#" class="btn btn-success float-left" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus-square"></i></a>
      </div>
    </div>
        <div class="card-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>FECHA ENTRADA</th>
                        <th>UNIDAD DE LA BRIGADA</th>
                        <th>COMANDANTE DE LA UNIDAD</th>
                        <th>TELEFONO</th>
                        <th>CORREO</th>
                        <th>UBICACIÓN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datos in   servicios %}
                    <tr>
                      <td>{{datos.fecha|date:"d/m/Y"}}</td>
                        <td>{{datos.nombreB}} </td>
                        <td>{{datos.comandante}} </td>
                        <td>{{datos.telefono}} </td>
                        <td>{{datos.correo}} </td>
                        <td>{{datos.ubicacionB}} </td>
                        <td>
                            <a href="{%url 'infor' datos.id %}" class="btn btn-success btn-xs"><i class="fas fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary ">
          <h5 class="modal-title" id="exampleModalLabel">Formulario de la Unidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% include 'batallon/batallon_f.html' %}
        </div>
      </div>
    </div>

{% endblock %}
